Repository prysmaticlabs/prysm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prysmaticlabs/core-team, @prestonvanloon, @rkapka, @nisdas, @rauljordan

Sync with upstream
  beacon-chain/rpc/eth/beacon/blocks.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_bellatrix.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_execution_payload_test.go
  beacon-chain/sync/initial-sync/BUILD.bazel
  beacon-chain/sync/initial-sync/blocks_queue_test.go
  consensus-types/blocks/proto.go
  testing/spectest/shared/common/forkchoice/service.go
Owners: @prysmaticlabs/core-team

Add AggregatorEquivocation
  proto/prysm/v1alpha1/attestation.pb.go
  proto/prysm/v1alpha1/attestation.proto
Owners: @prysmaticlabs/core-team

Change IntervalsPerSlot to 4
  beacon-chain/rpc/eth/beacon/config_test.go
  config/params/mainnet_config.go
Owners: @prysmaticlabs/core-team

Only consider block atts for forkchoice pool
  beacon-chain/operations/attestations/prepare_forkchoice.go
Owners: @prysmaticlabs/core-team

Remove proposer boost
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/on_tick.go
  beacon-chain/forkchoice/doubly-linked-tree/optimistic_sync.go
  beacon-chain/forkchoice/doubly-linked-tree/optimistic_sync_test.go
  beacon-chain/forkchoice/doubly-linked-tree/proposer_boost.go
  beacon-chain/forkchoice/doubly-linked-tree/proposer_boost_test.go
  beacon-chain/forkchoice/doubly-linked-tree/store.go
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/forkchoice/interfaces.go
Owners: @prysmaticlabs/core-team

Add reference count to latest msg
  beacon-chain/forkchoice/doubly-linked-tree/types.go
Owners: @prysmaticlabs/core-team

Rename votes to latest messages and add current/prev aggregates
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice_test.go
  beacon-chain/forkchoice/doubly-linked-tree/proposer_boost_test.go
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/forkchoice/doubly-linked-tree/vote_test.go
Owners: @prysmaticlabs/core-team

Fix sync tests and update to 1.2.0
  WORKSPACE
  testing/spectest/shared/common/forkchoice/service.go
Owners: @prysmaticlabs/core-team

fix repo sha
  WORKSPACE
Owners: @prysmaticlabs/core-team

Add OnAggregate and OnAggregatorEquivocation
  beacon-chain/blockchain/process_attestation.go
  beacon-chain/forkchoice/BUILD.bazel
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/forkchoice/interfaces.go
Owners: @prysmaticlabs/core-team

Fix sync tests and update to 1.2.0 (#11498)
  WORKSPACE
  testing/spectest/shared/common/forkchoice/service.go
Owners: @prysmaticlabs/core-team

Preston's review
  beacon-chain/blockchain/chain_info.go
  beacon-chain/blockchain/process_block_helpers.go
Owners: @prysmaticlabs/core-team

Update consensus layer badge to v1.2.0 (#11492)
  README.md
Owners: @prysmaticlabs/core-team

add changes
  beacon-chain/blockchain/process_block_helpers.go
  beacon-chain/state/stategen/migrate.go
  beacon-chain/state/stategen/service.go
Owners: @prysmaticlabs/core-team

Rm INTERVALS_PER_SLOT from place holder
  config/params/loader_test.go
Owners: @prysmaticlabs/core-team

Comment
  config/params/loader_test.go
Owners: @prysmaticlabs/core-team

Remove `INTERVALS_PER_SLOT` from place holder for test (#11502)
  config/params/loader_test.go
Owners: @prysmaticlabs/core-team

update head should go even without attestations
  beacon-chain/blockchain/receive_attestation.go
Owners: @prysmaticlabs/core-team

Log error for mev boost / relayer status, not return error
  beacon-chain/builder/service.go
Owners: @prysmaticlabs/core-team

conflict_1
  beacon-chain/blockchain/process_attestation_test.go
Owners: @prysmaticlabs/core-team

Add `compute_aggregated_poly_and_commitment`
  consensus-types/blobs/BUILD.bazel
  consensus-types/blobs/sidecar.go
  proto/prysm/v1alpha1/BUILD.bazel
  proto/prysm/v1alpha1/beacon_block.pb.go
  proto/prysm/v1alpha1/beacon_block.proto
  proto/prysm/v1alpha1/generated.ssz.go
Owners: @prysmaticlabs/core-team

Fix proposer_bellatrix test
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_bellatrix_test.go
Owners: @prysmaticlabs/core-team

Set builder get payload timeout to 3s (#11413)
  api/client/builder/client.go
Owners: @prysmaticlabs/core-team

Revamp scheme
  beacon-chain/blockchain/process_block.go
  beacon-chain/blockchain/receive_attestation.go
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/interfaces.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_phase0.go
  beacon-chain/rpc/prysm/v1alpha1/validator/server.go
Owners: @prysmaticlabs/core-team

Add ticker to poll relayer status
  beacon-chain/builder/service.go
  beacon-chain/builder/service_test.go
Owners: @prysmaticlabs/core-team

Add ticker to poll relayer status
  beacon-chain/builder/metric.go
  beacon-chain/builder/service.go
  beacon-chain/builder/service_test.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/builder/service.go
  beacon-chain/builder/service.go
Owners: @prysmaticlabs/core-team

Rm test
  beacon-chain/builder/service_test.go
Owners: @prysmaticlabs/core-team

fix tests
  beacon-chain/blockchain/process_block_test.go
  beacon-chain/core/execution/upgrade_test.go
Owners: @prysmaticlabs/core-team

Implement proposer's head
  beacon-chain/forkchoice/doubly-linked-tree/metrics.go
  beacon-chain/forkchoice/doubly-linked-tree/node.go
  beacon-chain/forkchoice/doubly-linked-tree/node_test.go
  beacon-chain/forkchoice/doubly-linked-tree/store.go
  beacon-chain/forkchoice/doubly-linked-tree/store_test.go
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/forkchoice/interfaces.go
  config/params/config.go
  config/params/configset_test.go
  config/params/mainnet_config.go
  config/params/minimal_config.go
Owners: @prysmaticlabs/core-team

state_trie_test improvements
  beacon-chain/state/state-native/state_trie_test.go
Owners: @rkapka, @nisdas, @rauljordan

do not orphan on forks
  beacon-chain/forkchoice/doubly-linked-tree/store.go
Owners: @prysmaticlabs/core-team

remove space
  beacon-chain/forkchoice/doubly-linked-tree/store_test.go
Owners: @prysmaticlabs/core-team

add interface method
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/store_test.go
Owners: @prysmaticlabs/core-team

remove unused code
  beacon-chain/forkchoice/interfaces.go
Owners: @prysmaticlabs/core-team

change metrics to bet misses
  beacon-chain/forkchoice/doubly-linked-tree/metrics.go
  beacon-chain/forkchoice/doubly-linked-tree/store.go
Owners: @prysmaticlabs/core-team

fix timeTillDuty log shows a negative number
  validator/client/validator.go
Owners: @prysmaticlabs/core-team

add unit tests
  beacon-chain/blockchain/receive_attestation_test.go
Owners: @prysmaticlabs/core-team

in progress...
  beacon-chain/db/kv/key.go
  beacon-chain/db/kv/schema.go
  beacon-chain/db/kv/state.go
  beacon-chain/state/state-native/getters_block_test.go
  beacon-chain/state/state-native/getters_checkpoint_test.go
  beacon-chain/state/state-native/getters_state.go
  beacon-chain/state/state-native/getters_test.go
  beacon-chain/state/state-native/getters_validator_test.go
  beacon-chain/state/state-native/hasher_test.go
  beacon-chain/state/state-native/references_test.go
  beacon-chain/state/state-native/state_test.go
  beacon-chain/state/state-native/state_trie.go
  beacon-chain/state/stateutil/BUILD.bazel
  beacon-chain/state/stateutil/state_hasher.go
  consensus-types/blocks/execution.go
  consensus-types/interfaces/BUILD.bazel
  consensus-types/interfaces/beacon_block.go
  encoding/ssz/detect/configfork_test.go
  testing/util/state.go
  testing/util/state_test.go
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

Check nil before calling status
  beacon-chain/builder/service.go
Owners: @prysmaticlabs/core-team

.github/CODEOWNERS:

# Automatically require code review from core-team.
* @prysmaticlabs/core-team

# Starlark code owners
*.bzl @prestonvanloon

# Anyone on prylabs team can approve dependency updates.
deps.bzl @prysmaticlabs/core-team

# Radek and Nishant are responsible for changes that can affect the native state feature.
# See https://www.notion.so/prysmaticlabs/Native-Beacon-State-Redesign-6cc9744b4ec1439bb34fa829b36a35c1
/beacon-chain/state/fieldtrie/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v1/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v2/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v3/ @rkapka @nisdas @rauljordan
/beacon-chain/state/state-native/ @rkapka @nisdas @rauljordan
