Repository prysmaticlabs/prysm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prysmaticlabs/core-team, @prestonvanloon, @rkapka, @nisdas, @rauljordan

.github/CODEOWNERS:

# Automatically require code review from core-team.
* @prysmaticlabs/core-team

# Starlark code owners
*.bzl @prestonvanloon

# Anyone on prylabs team can approve dependency updates.
deps.bzl @prysmaticlabs/core-team

# Radek and Nishant are responsible for changes that can affect the native state feature.
# See https://www.notion.so/prysmaticlabs/Native-Beacon-State-Redesign-6cc9744b4ec1439bb34fa829b36a35c1
/beacon-chain/state/fieldtrie/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v1/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v2/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v3/ @rkapka @nisdas @rauljordan
/beacon-chain/state/state-native/ @rkapka @nisdas @rauljordan

gohashtree dep
  beacon-chain/node/BUILD.bazel
Owners: @prysmaticlabs/core-team

check error
  beacon-chain/node/config.go
Owners: @prysmaticlabs/core-team

move to config startup
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/config.go
  config/features/BUILD.bazel
  config/features/config.go
Owners: @prysmaticlabs/core-team

tidy
  go.mod
  go.sum
Owners: @prysmaticlabs/core-team

Kasey's advice
  config/features/config.go
Owners: @prysmaticlabs/core-team

fmt
  beacon-chain/blockchain/chain_info_test.go
  beacon-chain/forkchoice/doubly-linked-tree/store_test.go
  beacon-chain/forkchoice/protoarray/optimistic_sync_test.go
  beacon-chain/forkchoice/protoarray/store_test.go
  beacon-chain/sync/subscriber_test.go
  proto/prysm/v1alpha1/beacon_state.pb.gw.go
Owners: @prysmaticlabs/core-team

Builder: check payload and header HTR root match (#11223)
  beacon-chain/rpc/prysm/v1alpha1/validator/BUILD.bazel
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_bellatrix.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_bellatrix_test.go
Owners: @prysmaticlabs/core-team

fixing protos
  proto/eth/service/validator_service.pb.go
  proto/eth/service/validator_service.pb.gw.go
  proto/eth/service/validator_service.proto
  proto/eth/v1/validator.pb.go
Owners: @prysmaticlabs/core-team

Prysm V3: update signing type (#11099)
  consensus-types/blocks/getters.go
  proto/prysm/v1alpha1/validator-client/keymanager.pb.go
  proto/prysm/v1alpha1/validator-client/keymanager.proto
  validator/keymanager/remote-web3signer/README.md
  validator/keymanager/remote-web3signer/keymanager.go
  validator/keymanager/remote-web3signer/metrics.go
  validator/keymanager/remote-web3signer/v1/mock/mocks.go
  validator/keymanager/remote-web3signer/v1/requests.go
  validator/keymanager/remote-web3signer/v1/requests_test.go
  validator/keymanager/remote-web3signer/v1/web3signer_types.go
Owners: @prysmaticlabs/core-team

adding new API logic and fixing linting
  beacon-chain/rpc/eth/validator/BUILD.bazel
  beacon-chain/rpc/eth/validator/validator.go
Owners: @prysmaticlabs/core-team

adding work in progress unit test for validator registrations
  beacon-chain/rpc/eth/validator/validator_test.go
Owners: @prysmaticlabs/core-team

fixing unit test
  beacon-chain/rpc/eth/validator/validator_test.go
Owners: @prysmaticlabs/core-team

fixing linting
  beacon-chain/rpc/eth/validator/BUILD.bazel
Owners: @prysmaticlabs/core-team

fixing function name to match interface
  beacon-chain/rpc/eth/validator/validator.go
  beacon-chain/rpc/eth/validator/validator_test.go
  proto/eth/service/validator_service.pb.go
Owners: @prysmaticlabs/core-team

changing emptypb to empty.Empty
  beacon-chain/rpc/eth/validator/validator.go
Owners: @prysmaticlabs/core-team

fixing import complaint
  proto/eth/service/validator_service.pb.go
Owners: @prysmaticlabs/core-team

removing unused import
  proto/eth/service/validator_service.pb.gw.go
Owners: @prysmaticlabs/core-team

fixing import
  proto/eth/service/validator_service.pb.gw.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/rpc/eth/validator/validator.go
  beacon-chain/rpc/eth/validator/validator.go
Owners: @prysmaticlabs/core-team

adding emptypb.Empty back in
  proto/eth/service/validator_service.pb.gw.go
Owners: @prysmaticlabs/core-team

Remove forkchoice debug endpoint (#11105)
  beacon-chain/forkchoice/BUILD.bazel
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/node.go
  beacon-chain/forkchoice/interfaces.go
  beacon-chain/forkchoice/protoarray/store.go
  beacon-chain/rpc/prysm/v1alpha1/debug/BUILD.bazel
  beacon-chain/rpc/prysm/v1alpha1/debug/forkchoice.go
  beacon-chain/rpc/prysm/v1alpha1/debug/forkchoice_test.go
  beacon-chain/rpc/prysm/v1alpha1/debug/server.go
  beacon-chain/rpc/service.go
  proto/prysm/v1alpha1/debug.pb.go
  proto/prysm/v1alpha1/debug.pb.gw.go
  proto/prysm/v1alpha1/debug.proto
Owners: @prysmaticlabs/core-team

rolling back disablenativestate
  beacon-chain/core/altair/reward_test.go
  beacon-chain/core/validators/validator_test.go
  beacon-chain/db/kv/state.go
  beacon-chain/execution/log_processing.go
  beacon-chain/execution/service.go
  beacon-chain/rpc/eth/beacon/validator_test.go
  beacon-chain/state/v1/getters_block_test.go
  beacon-chain/state/v1/state_trie.go
  beacon-chain/state/v2/deprecated_getters_test.go
  beacon-chain/state/v2/getters_block_test.go
  beacon-chain/state/v2/state_trie.go
  beacon-chain/state/v3/deprecated_getters_test.go
  beacon-chain/state/v3/getters_block_test.go
  beacon-chain/state/v3/state_trie.go
  config/features/config.go
  runtime/interop/generate_genesis_state.go
  testing/spectest/shared/altair/epoch_processing/helpers.go
  testing/spectest/shared/altair/finality/finality.go
  testing/spectest/shared/altair/fork/transition.go
  testing/spectest/shared/altair/sanity/block_processing.go
  testing/spectest/shared/bellatrix/epoch_processing/helpers.go
  testing/spectest/shared/bellatrix/finality/finality.go
  testing/spectest/shared/bellatrix/fork/transition.go
  testing/spectest/shared/bellatrix/sanity/block_processing.go
  testing/spectest/shared/phase0/finality/runner.go
  testing/spectest/shared/phase0/sanity/block_processing.go
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

switching to native state in the state-native package for tests
  beacon-chain/state/state-native/getters_block_test.go
  beacon-chain/state/state-native/getters_checkpoint_test.go
  beacon-chain/state/state-native/getters_participation_test.go
  beacon-chain/state/state-native/getters_validator_test.go
  beacon-chain/state/state-native/hasher_test.go
  beacon-chain/state/state-native/proofs_test.go
  beacon-chain/state/state-native/state_trie_test.go
Owners: @rkapka, @nisdas, @rauljordan

fixing linting
  beacon-chain/core/altair/BUILD.bazel
  beacon-chain/core/validators/BUILD.bazel
  beacon-chain/rpc/eth/beacon/BUILD.bazel
  beacon-chain/state/state-native/BUILD.bazel
  beacon-chain/state/v1/BUILD.bazel
  beacon-chain/state/v2/BUILD.bazel
  beacon-chain/state/v3/BUILD.bazel
  testing/spectest/shared/altair/epoch_processing/BUILD.bazel
  testing/spectest/shared/altair/finality/BUILD.bazel
  testing/spectest/shared/altair/fork/BUILD.bazel
  testing/spectest/shared/altair/sanity/BUILD.bazel
  testing/spectest/shared/bellatrix/epoch_processing/BUILD.bazel
  testing/spectest/shared/bellatrix/finality/BUILD.bazel
  testing/spectest/shared/bellatrix/fork/BUILD.bazel
  testing/spectest/shared/bellatrix/sanity/BUILD.bazel
  testing/spectest/shared/phase0/finality/BUILD.bazel
  testing/spectest/shared/phase0/sanity/BUILD.bazel
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

fixing deepsource complaint
  beacon-chain/state/state-native/state_trie_test.go
Owners: @rkapka, @nisdas, @rauljordan

fixing some tests to native state and removing some unused flag checks
  beacon-chain/state/fieldtrie/field_trie_test.go
  beacon-chain/state/fieldtrie/helpers_test.go
  beacon-chain/state/state-native/getters_block_test.go
  beacon-chain/state/state-native/getters_checkpoint_test.go
  beacon-chain/state/state-native/getters_validator_test.go
  beacon-chain/state/state-native/setters_attestation_test.go
  beacon-chain/state/state-native/state_test.go
  beacon-chain/state/state-native/types_test.go
Owners: @rkapka, @nisdas, @rauljordan

convert to native state
  beacon-chain/node/node_test.go
Owners: @prysmaticlabs/core-team

fixing linting
  beacon-chain/state/fieldtrie/BUILD.bazel
Owners: @rkapka, @nisdas, @rauljordan

issues are being triggered by deleting the db this way so reverting change in hopes of changing this
  beacon-chain/node/node_test.go
Owners: @prysmaticlabs/core-team

rolling back testing util
  beacon-chain/node/node_test.go
  testing/util/state.go
Owners: @prysmaticlabs/core-team

rolling back some tests from native state
  beacon-chain/state/state-native/hasher_test.go
Owners: @rkapka, @nisdas, @rauljordan

rolling back db deletion
  beacon-chain/node/node_test.go
Owners: @prysmaticlabs/core-team

test switching native state off after test runs
  beacon-chain/node/node_test.go
  beacon-chain/state/fieldtrie/field_trie_test.go
  beacon-chain/state/fieldtrie/helpers_test.go
  beacon-chain/state/state-native/getters_validator_test.go
  beacon-chain/state/state-native/hasher_test.go
  beacon-chain/state/state-native/proofs_test.go
  beacon-chain/state/state-native/setters_attestation_test.go
  beacon-chain/state/state-native/state_trie_test.go
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

fixing hasher test
  beacon-chain/state/state-native/hasher_test.go
  testing/util/state.go
Owners: @rkapka, @nisdas, @rauljordan, @prysmaticlabs/core-team

fixing altair and bellatrix hashers for native state
  beacon-chain/state/state-native/hasher_test.go
Owners: @rkapka, @nisdas, @rauljordan

Update beacon-chain/core/epoch/precompute/reward_penalty_test.go
  beacon-chain/core/epoch/precompute/reward_penalty_test.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/core/helpers/validators_test.go
  beacon-chain/core/helpers/validators_test.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/db/alias.go
  beacon-chain/db/alias.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/db/alias.go
  beacon-chain/db/alias.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/db/alias.go
  beacon-chain/db/alias.go
Owners: @prysmaticlabs/core-team
