Repository prysmaticlabs/prysm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prysmaticlabs/core-team, @prestonvanloon, @rkapka, @nisdas, @rauljordan

.github/CODEOWNERS:

# Automatically require code review from core-team.
* @prysmaticlabs/core-team

# Starlark code owners
*.bzl @prestonvanloon

# Anyone on prylabs team can approve dependency updates.
deps.bzl @prysmaticlabs/core-team

# Radek and Nishant are responsible for changes that can affect the native state feature.
# See https://www.notion.so/prysmaticlabs/Native-Beacon-State-Redesign-6cc9744b4ec1439bb34fa829b36a35c1
/beacon-chain/state/fieldtrie/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v1/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v2/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v3/ @rkapka @nisdas @rauljordan
/beacon-chain/state/state-native/ @rkapka @nisdas @rauljordan

Update beacon-chain/db/iface/BUILD.bazel
  beacon-chain/db/iface/BUILD.bazel
Owners: @prysmaticlabs/core-team

Update beacon-chain/db/kv/kv.go
  beacon-chain/db/kv/kv.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/db/kv/state.go
  beacon-chain/db/kv/state.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/rpc/prysm/v1alpha1/validator/attester_test.go
  beacon-chain/rpc/prysm/v1alpha1/validator/attester_test.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/rpc/prysm/v1alpha1/validator/attester_test.go
  beacon-chain/rpc/prysm/v1alpha1/validator/attester_test.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/sync/initial-sync/service.go
  beacon-chain/sync/initial-sync/service.go
Owners: @prysmaticlabs/core-team

fix deps
  deps.bzl
  go.mod
  go.sum
Owners: @prysmaticlabs/core-team

Terence's suggestion
  config/features/config.go
Owners: @prysmaticlabs/core-team

fix bad replacements
  beacon-chain/core/blocks/attestation_regression_test.go
  beacon-chain/db/iface/BUILD.bazel
  beacon-chain/state/v1/state_fuzz_test.go
  cmd/defaults.go
  cmd/wrap_flags.go
  config/params/mainnet_config.go
  crypto/bls/common/interface.go
  runtime/tos/tos.go
  testing/mock/beacon_chain_altair_client_mock.go
  testing/mock/beacon_chain_altair_service_mock.go
  testing/mock/beacon_chain_service_mock.go
  testing/mock/beacon_service_mock.go
  testing/mock/beacon_validator_client_mock.go
  testing/mock/beacon_validator_server_mock.go
  testing/mock/event_service_mock.go
  testing/mock/keymanager_mock.go
  testing/mock/node_service_mock.go
  testing/mock/slasher_client_mock.go
  tools/analyzers/cryptorand/analyzer.go
  tools/analyzers/cryptorand/testdata/custom_import.go
  tools/analyzers/cryptorand/testdata/rand_new.go
  validator/accounts/accounts_delete.go
  validator/client/runner.go
  validator/client/validator.go
  validator/db/kv/db.go
  validator/db/kv/migration_source_target_epochs_bucket_test.go
  validator/slashing-protection-history/export.go
  validator/web/doc.go
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

fix bad replacements
  beacon-chain/db/iface/BUILD.bazel
  testing/mock/beacon_altair_validator_client_mock.go
  testing/mock/beacon_altair_validator_server_mock.go
Owners: @prysmaticlabs/core-team

change back
  proto/prysm/v1alpha1/beacon_state.pb.gw.go
Owners: @prysmaticlabs/core-team

gohashtree version
  go.mod
  go.sum
Owners: @prysmaticlabs/core-team

fix deps
  deps.bzl
Owners: @prysmaticlabs/core-team

review #1
  config/features/config.go
Owners: @prysmaticlabs/core-team

test fix
  validator/client/validator_test.go
Owners: @prysmaticlabs/core-team

Do not init builder for empty endpoint
  beacon-chain/builder/option.go
  beacon-chain/builder/service.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/node/node_test.go
  beacon-chain/node/node_test.go
Owners: @prysmaticlabs/core-team

Update validator/rpc/auth_token_test.go
  validator/rpc/auth_token_test.go
Owners: @prysmaticlabs/core-team

Update service_test.go
  beacon-chain/execution/service_test.go
Owners: @prysmaticlabs/core-team

Revert --enable-forkchoice-doubly-linked-tree (#11212)
  beacon-chain/blockchain/chain_info_test.go
  beacon-chain/blockchain/execution_engine_test.go
  beacon-chain/blockchain/head_test.go
  beacon-chain/blockchain/process_attestation_test.go
  beacon-chain/blockchain/process_block_test.go
  beacon-chain/blockchain/receive_attestation_test.go
  beacon-chain/blockchain/service.go
  beacon-chain/blockchain/service_test.go
  beacon-chain/forkchoice/protoarray/errors.go
  beacon-chain/node/node.go
  config/features/config.go
  config/features/flags.go
  testing/spectest/mainnet/altair/forkchoice/forkchoice_test.go
  testing/spectest/mainnet/bellatrix/forkchoice/forkchoice_test.go
  testing/spectest/mainnet/phase0/forkchoice/forkchoice_test.go
  testing/spectest/minimal/altair/forkchoice/forkchoice_test.go
  testing/spectest/minimal/bellatrix/forkchoice/forkchoice_test.go
  testing/spectest/minimal/phase0/forkchoice/forkchoice_test.go
Owners: @prysmaticlabs/core-team

fix imports
  validator/client/key_reload.go
Owners: @prysmaticlabs/core-team

revert merging issues
  beacon-chain/builder/BUILD.bazel
  beacon-chain/builder/option.go
  beacon-chain/builder/service.go
  beacon-chain/builder/service_test.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/rpc/eth/validator/validator.go
  beacon-chain/rpc/eth/validator/validator.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/rpc/eth/validator/validator.go
  beacon-chain/rpc/eth/validator/validator.go
Owners: @prysmaticlabs/core-team

Update beacon-chain/rpc/eth/validator/validator.go
  beacon-chain/rpc/eth/validator/validator.go
Owners: @prysmaticlabs/core-team

test fixes
  validator/client/validator_test.go
  validator/client/wait_for_activation_test.go
Owners: @prysmaticlabs/core-team

fix build errors
  proto/eth/service/beacon_chain_service.pb.go
  proto/eth/service/beacon_debug_service.pb.go
Owners: @prysmaticlabs/core-team

fixing imports
  beacon-chain/node/node_test.go
  beacon-chain/state/fieldtrie/field_trie_test.go
  beacon-chain/state/fieldtrie/helpers_test.go
  beacon-chain/state/state-native/getters_validator_test.go
  beacon-chain/state/state-native/hasher_test.go
  beacon-chain/state/state-native/proofs_test.go
  beacon-chain/state/state-native/state_test.go
  beacon-chain/state/state-native/state_trie_test.go
  beacon-chain/state/state-native/types_test.go
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

adding altair proof test
  beacon-chain/state/state-native/proofs_test.go
Owners: @rkapka, @nisdas, @rauljordan

Improve beacon chain coverage Part 1 (#11080)
  beacon-chain/core/signing/BUILD.bazel
  beacon-chain/core/signing/signing_root_test.go
  beacon-chain/node/BUILD.bazel
  beacon-chain/node/node_test.go
  beacon-chain/rpc/eth/beacon/validator_test.go
  beacon-chain/state/fieldtrie/BUILD.bazel
  beacon-chain/state/fieldtrie/field_trie_test.go
  beacon-chain/state/fieldtrie/helpers_test.go
  beacon-chain/state/state-native/BUILD.bazel
  beacon-chain/state/state-native/getters_participation_test.go
  beacon-chain/state/state-native/getters_validator_test.go
  beacon-chain/state/state-native/hasher_test.go
  beacon-chain/state/state-native/proofs_test.go
  beacon-chain/state/state-native/setters_attestation_test.go
  beacon-chain/state/state-native/state_test.go
  beacon-chain/state/state-native/state_trie.go
  beacon-chain/state/state-native/state_trie_test.go
  beacon-chain/state/state-native/types_test.go
  beacon-chain/state/stateutil/validator_root.go
  cmd/validator/flags/flags_test.go
  testing/util/state.go
  validator/rpc/auth_token_test.go
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

Add `execution_optimistic` to `getBlockV2`
  beacon-chain/rpc/apimiddleware/custom_hooks.go
  beacon-chain/rpc/apimiddleware/custom_hooks_test.go
Owners: @prysmaticlabs/core-team

proto gen fix
  hack/update-go-pbs.sh
Owners: @prysmaticlabs/core-team

regen
  proto/eth/service/beacon_chain_service.pb.gw.go
  proto/eth/service/beacon_debug_service.pb.gw.go
  proto/eth/service/validator_service.pb.gw.go
Owners: @prysmaticlabs/core-team

Remove Execution Client Fallback and Make Providing an Execution Client Required (#10921)
  beacon-chain/blockchain/service_test.go
  beacon-chain/execution/BUILD.bazel
  beacon-chain/execution/block_reader_test.go
  beacon-chain/execution/deposit_test.go
  beacon-chain/execution/log_processing_test.go
  beacon-chain/execution/options.go
  beacon-chain/execution/prometheus.go
  beacon-chain/execution/rpc_connection.go
  beacon-chain/execution/service.go
  beacon-chain/execution/service_test.go
  beacon-chain/execution/testing/mock_execution_chain.go
  beacon-chain/node/node_test.go
  beacon-chain/rpc/prysm/v1alpha1/node/server.go
  beacon-chain/rpc/prysm/v1alpha1/node/server_test.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_deposits.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_eth1data.go
  beacon-chain/rpc/prysm/v1alpha1/validator/status.go
  beacon-chain/rpc/testutil/mock_exec_chain_info_fetcher.go
  cmd/beacon-chain/execution/BUILD.bazel
  cmd/beacon-chain/execution/options.go
  cmd/beacon-chain/execution/options_test.go
  cmd/beacon-chain/flags/base.go
  cmd/beacon-chain/main.go
  cmd/beacon-chain/usage.go
  monitoring/clientstats/scrapers.go
  monitoring/clientstats/scrapers_test.go
  monitoring/clientstats/types.go
Owners: @prysmaticlabs/core-team

Fix a few bugs
  beacon-chain/blockchain/service.go
  beacon-chain/rpc/prysm/v1alpha1/validator/proposer_bellatrix.go
  cmd/beacon-chain/main.go
  cmd/beacon-chain/usage.go
  config/params/mainnet_config.go
Owners: @prysmaticlabs/core-team

Fix test
  beacon-chain/blockchain/service.go
Owners: @prysmaticlabs/core-team

Check for SIGILL before using gohashtree (#11224)
  config/features/BUILD.bazel
  config/features/config.go
Owners: @prysmaticlabs/core-team

Add expected waiting time to pending validator log (#11213)
  validator/client/key_reload.go
  validator/client/key_reload_test.go
  validator/client/validator.go
  validator/client/validator_test.go
  validator/client/wait_for_activation.go
  validator/client/wait_for_activation_test.go
Owners: @prysmaticlabs/core-team

Update WORKSPACE
  WORKSPACE
Owners: @prysmaticlabs/core-team

adding validator registration API to apimiddleware
  beacon-chain/rpc/apimiddleware/custom_hooks.go
  beacon-chain/rpc/apimiddleware/endpoint_factory.go
  beacon-chain/rpc/apimiddleware/structs.go
  beacon-chain/rpc/eth/validator/validator.go
Owners: @prysmaticlabs/core-team
