Repository prysmaticlabs/prysm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prysmaticlabs/core-team, @prestonvanloon, @rkapka, @nisdas, @rauljordan

.github/CODEOWNERS:

# Automatically require code review from core-team.
* @prysmaticlabs/core-team

# Starlark code owners
*.bzl @prestonvanloon

# Anyone on prylabs team can approve dependency updates.
deps.bzl @prysmaticlabs/core-team

# Radek and Nishant are responsible for changes that can affect the native state feature.
# See https://www.notion.so/prysmaticlabs/Native-Beacon-State-Redesign-6cc9744b4ec1439bb34fa829b36a35c1
/beacon-chain/state/fieldtrie/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v1/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v2/ @rkapka @nisdas @rauljordan
/beacon-chain/state/v3/ @rkapka @nisdas @rauljordan
/beacon-chain/state/state-native/ @rkapka @nisdas @rauljordan

init
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/forkchoice/interfaces.go
  beacon-chain/state/stategen/errors.go
  beacon-chain/state/stategen/getter.go
  beacon-chain/state/stategen/service.go
Owners: @prysmaticlabs/core-team

Fix attestations update head error logging
  beacon-chain/blockchain/receive_attestation.go
Owners: @prysmaticlabs/core-team

hasher test
  beacon-chain/state/BUILD.bazel
  beacon-chain/state/interfaces.go
  beacon-chain/state/state-native/hasher_test.go
  beacon-chain/state/state-native/setters_withdrawal.go
  consensus-types/blocks/execution.go
  consensus-types/interfaces/BUILD.bazel
  consensus-types/interfaces/beacon_block.go
Owners: @prysmaticlabs/core-team, @rkapka, @nisdas, @rauljordan

unit test
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/state/stategen/getter_test.go
  beacon-chain/state/stategen/mock/mock.go
Owners: @prysmaticlabs/core-team

DeepSource complains
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/state/stategen/mock/mock.go
Owners: @prysmaticlabs/core-team

gaz
  beacon-chain/state/stategen/BUILD.bazel
Owners: @prysmaticlabs/core-team

shutting deepsource down
  beacon-chain/state/stategen/mock/mock.go
Owners: @prysmaticlabs/core-team

Fix attestations update head error logging (#11514)
  beacon-chain/blockchain/receive_attestation.go
Owners: @prysmaticlabs/core-team

Update validator/client/validator.go
  validator/client/validator.go
Owners: @prysmaticlabs/core-team

fix validator loggin timeTillDuty as a negative number (#11512)
  validator/client/validator.go
Owners: @prysmaticlabs/core-team

moving voluntary exit command to prysmctl
  cmd/prysmctl/signing/cmd.go
  cmd/validator/accounts/accounts.go
  cmd/validator/accounts/backup.go
  cmd/validator/accounts/delete.go
  cmd/validator/accounts/exit.go
  cmd/validator/accounts/list.go
  cmd/validator/accounts/wallet_utils.go
  validator/node/node.go
  validator/node/node_test.go
Owners: @prysmaticlabs/core-team

Don't mark builder status unhealthy if mev-boost status is non 200 (#11506)
  beacon-chain/builder/metric.go
  beacon-chain/builder/service.go
Owners: @prysmaticlabs/core-team

fixing linting
  cmd/prysmctl/signing/BUILD.bazel
  cmd/validator/accounts/BUILD.bazel
Owners: @prysmaticlabs/core-team

change var name and use handler type
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/forkchoice/interfaces.go
  beacon-chain/state/stategen/getter.go
Owners: @prysmaticlabs/core-team

Kasey's name suggestion
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/interfaces.go
Owners: @prysmaticlabs/core-team

fix stategen
  beacon-chain/state/stategen/service.go
Owners: @prysmaticlabs/core-team

interface signature
  beacon-chain/forkchoice/interfaces.go
Owners: @prysmaticlabs/core-team

fixing imports
  cmd/validator/accounts/delete.go
  cmd/validator/accounts/list.go
Owners: @prysmaticlabs/core-team

removing unused import:
  cmd/validator/accounts/backup.go
Owners: @prysmaticlabs/core-team

Fix lint
  beacon-chain/execution/engine_client.go
Owners: @prysmaticlabs/core-team

refactoring and adding a new unit test
  cmd/validator/accounts/backup.go
  cmd/validator/accounts/delete.go
  cmd/validator/accounts/exit.go
  cmd/validator/accounts/exit_test.go
  cmd/validator/accounts/list.go
  cmd/validator/accounts/wallet_utils.go
  cmd/validator/accounts/wallet_utils_test.go
Owners: @prysmaticlabs/core-team

Add a justified balance getter to forkchoice (#11513)
  beacon-chain/forkchoice/doubly-linked-tree/forkchoice.go
  beacon-chain/forkchoice/doubly-linked-tree/types.go
  beacon-chain/forkchoice/interfaces.go
  beacon-chain/state/stategen/BUILD.bazel
  beacon-chain/state/stategen/errors.go
  beacon-chain/state/stategen/getter.go
  beacon-chain/state/stategen/getter_test.go
  beacon-chain/state/stategen/mock/mock.go
  beacon-chain/state/stategen/service.go
Owners: @prysmaticlabs/core-team

fix configs
  config/params/config.go
  config/params/interop.go
  config/params/mainnet_config.go
  config/params/testnet_e2e_config.go
  config/params/testnet_prater_config.go
  config/params/testnet_ropsten_config.go
  encoding/ssz/detect/configfork.go
  encoding/ssz/detect/configfork_test.go
Owners: @prysmaticlabs/core-team

simplify hashing
  beacon-chain/state/state-native/hasher.go
Owners: @rkapka, @nisdas, @rauljordan

Revert "fix configs"
  config/params/config.go
  config/params/interop.go
  config/params/mainnet_config.go
  config/params/testnet_e2e_config.go
  config/params/testnet_prater_config.go
  config/params/testnet_ropsten_config.go
  encoding/ssz/detect/configfork.go
  encoding/ssz/detect/configfork_test.go
Owners: @prysmaticlabs/core-team

remove capella from config test
  encoding/ssz/detect/configfork_test.go
Owners: @prysmaticlabs/core-team
